*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  width: 480px;
  height: auto;
  background-color: #f3f3f3;
  padding: 20px;
  
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.wrapper-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

input {
  padding: 12px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  margin-top: 48px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 14px 15px;
  background-color: white;
  border-radius: 8px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

}

label {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}

.wrapper-button {
  display: flex;
  gap: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 32px;
  background-color: #6578ce;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}

button span.material-symbols-outlined {
  color: #ffffff; /* Replace with the color you want */
}

.tab-button {

}

a {
  text-decoration: none;
  color: rgb(101, 120, 206);
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust this value to fit your needs */
}

span {
  color: #5666ac;
  cursor: pointer;
}

span:active {
  color: #8698e8;
}

.delete-icon {
  color: #d57878;
}

